{{page-title "Index"}}
<LinkTo @route="cart" class="cart-link">
   <i class="fa fa-shopping-cart"></i>
</LinkTo>
<main class="container mt-5">
    <LinkTo @route="items" @model="1">Product 1</LinkTo>
    <LinkTo  @route="items" @model="2">Product 2</LinkTo>

</main>